{{- if eq .hostname "vivacitylaptops-MacBook-Pro.local" -}}

# Go
export GOPRIVATE="github.com/vivacitylabs/*"

# VivaCity repos
export REPOS="$HOME/dev/vivacitylabs"

# gcloud <> GKE integration
export USE_GKE_GCLOUD_AUTH_PLUGIN=True

# Vault
export VAULT_HELPER=true

{{- end }}
